Setup and imports

In [1]:
import sys, os
project_root = os.path.abspath(os.path.join(os.getcwd(), ".."))
if project_root not in sys.path:
    sys.path.insert(0, project_root)


%load_ext autoreload
%autoreload 2

import pandas as pd
from src.features import create_total_price, add_time_features, create_rfm

Load and basic cleaning

In [2]:
#load data
df = pd.read_csv("../data/online_retail.csv")

# drop rows with missing CustomerID
df =df.dropna(subset=['CustomerID'])

# drop cancellations (InvoiceNo starting with 'C')
df = df[~df['InvoiceNo'].astype(str).str.startswith('C')]

# drop negative quantities and prices
df = df[(df['Quantity'] > 0) & (df['UnitPrice'] > 0)]

# drop duplicates
df = df.drop_duplicates()

Feature engineering

In [3]:
df = create_total_price(df)
df = add_time_features(df)
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,year,month,day,day_of_week
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,2010,12,1,2
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010,12,1,2
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00,2010,12,1,2
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010,12,1,2
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010,12,1,2

Save cleaned dataset

In [5]:
# Save
df.to_csv("../data/online_retail_cleaned.csv", index=False)
print("✅ Cleaned data saved to 'data/online_retail_cleaned.csv'")

✅ Cleaned data saved to 'data/online_retail_cleaned.csv'